<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROHIL UAS</title>
    <link rel="stylesheet" type=" text/css"href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    
    <!-- header -->
    <div class="medsos">
         <div class="container">
              <ul>
                  <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              </ul>
          </div>
    </div>
    <header>
        <div class="container">
            <h1><a href="index.html">ROHIL SHOP</a></h1>
            <ul>
                <li class><a href="index.html">HOME</a></li>
                <li><a href="product.html">PRODUCT</a></li>
                <li><a href="contact.html">CONTACT</a></li>
            </ul> 
        </div>      
    </header>

    <!-- rohil -->
    <section class="rohil">
        <h2>ROHIL WEBSITE</h2>
    </section>

    <!-- about -->
    <section class="product">
        <div class="container">
        <h3>product</h3>
        <p>Bermacam buku yang disediakan.</p>
        </div>
    </section>

    <!-- about -->
    <section class="contact">
        <div class="container">
        <h4>contact</h4>
        <p>081216311973.</p>
        </div>
    </section>
</body>
</html>